/* Media Queries */
@media (max-width: 786px) {
  .Footer {
    justify-content: center;
  }
  .FooterText {
    margin-left: 0;
  }
}

@media (min-width: 786px) {
  .Footer {
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    margin-top: 80px;
  }
  .FooterText {
    color: #777777;
    margin-left: 28px;
  }
  
  .FooterNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 28px;
    width: 14%;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  a:hover{
    color: #20f092;
  }
}
  